body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  text-decoration-color: #777777;
  background-color: #ebebeb;
  width: 960px;
}
.header {
  text-align: center;
}

.nav {
  background-color: darksalmon;
  height: 100px;
}
.section {
  background-color: orange;

  width: 495px;
  height: 200px;
}
.aside {
  float: right;

  text-align: center;
  align: right;

  background-color: yellowgreen;
}
.article {
  background-color: green;
}
.footer {
  clear: both;
  text-align: center;
  background-color: aquamarine;
}
