body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration-color: #777777;
  background-color: #ebebeb;
  width: 960px;
}
.header {text-align: center;
}

.nav {
    height: 88px;
    
    text-align: justify;
    border: 15px;
}
.section {
    background-color: orange;    
  float: left;
  width: 495px;
}
.aside {
    text-align: center;
align-self: right;
  background-color: yellowgreen;
}
.article {
    background-color: green;
}
.footer {
    clear: both;
  text-align: center;
  background-color: aquamarine;
}
