
body {
    text-decoration-color: #777777;
    background-color: #ebebeb;
    width: 960px;
}
header {


}


nav {


}
sec {
    float: left;
    width: 495px;



}
aside {
    float: right;
    


}
article {
    float: ;


}